/* Secondary Banner */
.middle-cart {
  padding: var(--section-padding);
}

.cart-banner {
  background: url(../media/secondary-banner.png) no-repeat center/cover
    rgb(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  padding-block: 6rem;
}

.cart-banner h2 {
  font-size: var(--fs-5xl);
  font-weight: 900;
  text-transform: uppercase;
}

/* Main cart section */
.cart-cont {
  min-height: calc(100svh - 395px);
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 300px;
}

.bag-icon {
  color: var(--color-muted);
  font-size: 50px;
}

.empty-cart p {
  color: var(--color-muted);
}

.empty-cart button {
  color: var(--color-white);
  background-color: var(--color-black);
  font-size: var(--fs-sm);
  width: 180px;
  height: 45px;
}

.cont-shop {
  text-decoration: none;
}

.top-order {
  color: var(--color-muted);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.top-order button {
  background-color: transparent;
  display: flex;
  align-items: center;
  color: black;
  width: fit-content;
  gap: 10px;
  font-size: var(--fs-sm);
}

.main-cart {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.one-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid var(--color-gray);
  padding: 10px 0;
}

.orders {
  display: grid;
  gap: 15px;
  width: 100%;
}

.cart-image {
  width: 14rem;
  height: 18rem;
  object-fit: contain;
  padding: 1rem;
}

.order-dets {
  display: grid;
}

.cart-categ {
  color: var(--color-muted);
}

.button-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-gray);
}

.cart-quantity button {
  min-height: 4rem;
  background: transparent;
  padding-inline: 1rem;
  transition: var(--transition);
}

.cart-quantity button svg {
  width: 100%;
  min-width: 1.5rem;
  height: 100%;
}

.cart-quantity button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.cart-quantity input[type="text"] {
  width: 5rem;
  text-align: center;
  font-size: var(--fs-sm);
  font-weight: 600;
}

.cart-remove,
.top-order .all-out {
  background: transparent;
  color: var(--color-muted);
  transition: var(--transition);
}

.cart-remove:hover,
.all-out:hover {
  color: #b42323;
  text-decoration: underline;
}

.cart-name {
  font-size: 2rem;
}

.left-cart {
  display: flex;
  gap: 2rem;
}

.right-cart h3 {
  padding-right: 2rem;
}

.cart-checkout {
  position: sticky;
  top: 8rem;
  display: grid;
  background-color: white;
  padding: 2rem;
  max-width: 35rem;
  width: 100%;
  border: 1px solid var(--color-muted);
}

.order-sum {
  font-size: var(--fs-xl);
}

.check-row1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
}

.check-row2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-muted);
}

.bold {
  font-weight: bold;
}

.check-cart-end {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 3rem 0 15px;
  gap: 10px;

  a {
    text-align: center;
    width: 100%;
  }
}

.check-cart-end a {
  color: var(--color-black);
}

.check-cart-end .back-from {
  font-size: var(--fs-sm);
}

.check-cart-end .back-from:hover {
  text-decoration: underline;
}

@media (max-width: 1023px) {
  .main-cart {
    flex-direction: column;
    align-items: center;
  }
  .cart-image {
    height: 140px;
    max-width: 13rem;
  }
  .cart-checkout {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .cart-name {
    font-size: 16px;
  }

  .cart-image {
    height: 13rem;
    max-width: 13rem;
  }

  .cat-price {
    font-size: 15px;
  }

  .order-dets {
    gap: 10px;
  }

  .one-sec {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .right-cart {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
