@charset "utf-8";


:root {
  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #f8f9fa;
  --color-text: #212529;
  --color-muted: #6c757d;
  --color-gray: #a6a6a6;

  /* Font Families */
  --heading-font: "Playfair Display", serif;
  --body-font: "Inter", sans-serif;

  /* Font Sizes */
  --fs-6xl: 72px;
  --fs-5xl: 60px;
  --fs-4xl: 48px;
  --fs-3xl: 40px;
  --fs-2xl: 32px;
  --fs-xl: 28px;
  --fs-lg: 24px;
  --fs-md: 20px;
  --fs-base: 16px;
  --fs-sm: 14px;

  /* Layout */
  --max-width: 1240px;
  --container-padding: 20px;
  --section-padding: 100px 0;

  /* UI */
  --transition: all 0.3s ease-in-out;
}

.container {
  max-width: min(100% - 30px, var(--max-width));
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p,
a,
li,
button,
span,
input,
textarea,
label,
select {
  font-family: var(--body-font);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Cart page */

/* Secondary Banner */
.middle-cart {
    padding: var(--section-padding);
}

.cart-banner {
  background: url(../media/secondary-banner.png) no-repeat center/cover
    rgb(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  padding-block: 6rem;
}

.cart-banner h2 {
  font-size: var(--fs-5xl);
  font-weight: 900;
  text-transform: uppercase;
}

/* Main cart section */
.cart-cont {
    min-height: calc(100svh - 395px);
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 300px;
}

.bag-icon {
    color: var(--color-muted);
    font-size: 50px;
}

.empty-cart p {
    color: var(--color-muted);
}

.empty-cart button {
    color: var(--color-white);
    background-color: var(--color-black);
    font-size: 11px;
    width: 180px;
    height: 45px;
}

.cont-shop {
  text-decoration: none;
}

.top-order {
    color: var(--color-muted);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.top-order button {
    background-color: transparent;
    display: flex;
    align-items: center;
    color: black;
    width: fit-content;
    gap: 10px;
    font-size: var(--fs-sm);
}

.main-cart{
    display: flex;    
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}

.one-sec {
    width: 100%;
    border: 1px solid var(--color-gray);
    padding: 10px 0;
}

.orders{
    display: grid;
    gap: 15px;
    width: 100%;
}

.cart-image {
    height: 180px;
    max-width: 145px;
    margin-right: 20px;
    padding: 10px;
}

.one-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-dets {
    display: grid;
}

.cart-categ{
    color: var(--color-muted);
}

.cart-quantity {
    display: flex;
    border: 1px solid var(--color-muted);
    align-items: center;
    max-width: 100px;
    max-height: 40px;
}

.button-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.button-area p:hover {
    cursor: pointer;
}

.cart-quantity button {
    background-color: transparent;
    color: var(--color-black);
    font-size: 20px;
}

.cart-remove:hover{
    cursor: pointer;
}

.cart-name{
    font-size: 20px;
}

.left-cart {
    display: flex;
}

.right-cart h3 {
    padding-right: 20px;
}

.cart-checkout {
    display: grid;
    background-color: white;
    padding: 20px;
    max-width: 350px;
    width: 100%;
    border: 1px solid var(--color-muted);
}

.order-sum{
    font-size: 30px;
}

.check-row1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.check-row2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-muted);
}

.bold{
    font-weight: bold;
}

.check-cart-end {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 30px 0 15px;
    gap: 10px;
}

.check-cart-end a {
    color: var(--color-black);
    text-decoration: underline;
}


@media (max-width: 1023px) {
    .main-cart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .cart-name {
        font-size: 16px;
    }
}