@import "./reset.css";

.checkout{background-color: var(--color-white);}

/* HERO */
.checkout-header {
  height: 320px;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-header h2 {
  color: var(--color-white);
  font-size: var(--fs-5xl);
  letter-spacing: 4px;
}

/* MAIN SECTION */
.checkout section:last-child {
  max-width: 1240px;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
}

/* BACK BUTTON */
.theform a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  margin-bottom: 2rem;
  color: var(--color-black);
  font-size: var(--fs-sm);
  font-weight: 600;
}

/* FORM */
.theform form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.theform form h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;

  font-size: var(--fs-xl);
}

.theform form input {
  padding: 1rem;
  border: 1px solid #d9d9d9;
  font-size: var(--fs-base);
  transition: var(--transition);
}

.theform form input:focus {
  outline: none;
  border-color: var(--color-black);
}

/* ORDER SUMMARY */
aside {
  height: fit-content;

  padding: 2rem;

  border: 1px solid #d9d9d9;
  background-color: #fafafa;
}

aside h2 {
  margin-bottom: 2rem;
  font-size: var(--fs-xl);
}
