/* For the hero banner */
.hero {
  position: relative;
  width: 100%;
  height: 85svh;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-image.active {
  opacity: 1;
}

.hero-head {
  font-size: var(--fs-6xl);
  color: var(--color-white);
}

.hero-txt {
  position: absolute;
  top: 60%;
  left: 3%;
  z-index: 2;
  color: var(--color-gray);
}

.fine-print {
  color: var(--color-gray);
  font-size: var(--fs-sm);
}

.hero-btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100svw;
}

.left-btn {
  display: flex;
  gap: 15px;
  font-size: var(--fs-sm);
  font-weight: bold;
}

.right-btn {
  position: absolute;
  right: 150px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 80px;
  align-items: center;
  color: white;
}

.shop,
.view {
  height: 50px;
}

.shop {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 10px 15px;
}

.view {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
}

.prev,
.next {
  font-size: 25px;
  background-color: transparent;
  border: 0.7px solid var(--color-white);
  color: white;
}

.prev {
  padding: 0 7px;
}

.next {
  padding: 0 7px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* End of hero banner */

/* Marquee */
.line {
  width: 100%;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.line p {
  color: white;
  font-weight: bold;
}

/* Collections Section */
.collection {
  padding: var(--section-padding);
}

.collection-imgs {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: center;
}

.collection-head {
  margin-bottom: 30px;
}

.collection-head p {
  color: var(--color-muted);
}

.collection-sing {
  width: 100%;
  height: 450px;
}

.header-collect {
  font-size: var(--fs-5xl);
}

.box-img {
  position: relative;
  width: 24%;
}

.box-img-text {
  position: absolute;
  bottom: 20px;
  left: 15px;
  color: var(--color-white);
  z-index: 2;
}

.box-img-text h3 {
  font-size: var(--fs-lg);
}

.box-img-text p {
  font-size: var(--fs-sm);
}

.gray {
  color: var(--color-gray);
  opacity: 0.8;
}

/* Random black review after collections in home */
.info {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
  color: var(--color-white);
  height: 200px;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.info-box {
  display: grid;
  justify-items: center;
}

.info-box h2 {
  font-size: var(--fs-5xl);
  display: flex;
  align-items: center;
}

.info-box p {
  color: var(--color-muted);
  font-size: var(--fs-sm);
}

/* Ethos section */
.ethos-section {
  padding: var(--section-padding);
  background-color: rgb(249, 249, 249);
}

.ethos-div {
  display: flex;
}

.about-img {
  height: 450px;
  width: auto;
  margin-right: 60px;
}

.ethos-txt {
  max-width: 650px;
}

.ethos-txt p {
  color: var(--color-muted);
}

.ethos-txt p,
.ethos-txt h2 {
  margin-bottom: 20px;
}

.ethos-txt h2 {
  font-size: var(--fs-5xl);
}

/* What they say section in home page */

.what-ts {
  padding: var(--section-padding);
  padding-left: 100px;
}

.wts-head p {
  color: var(--color-muted);
}

.wts-head h2 {
  font-size: var(--fs-5xl);
}

.rev-examples {
  display: flex;
}

.rev-box {
  height: 230px;
  width: 300px;
  border: 1px solid var(--color-gray);
  margin: 10px;
  padding: 30px;
}

.rev-stars {
  display: flex;
  margin-bottom: 20px;
}

.rev-txt {
  color: var(--color-muted);
}

.author-rev {
  margin-top: 10px;
}

/* Main cart section */

.main-cart button {
  color: var(--color-white);
  background-color: var(--color-black);
  font-size: 11px;
  width: 180px;
  height: 45px;
}

.cont-shop {
  text-decoration: none;
}

@media (max-width: 1023px) {
  .collection-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .box-img {
    width: 98%;
  }
  .info {
    gap: 60px;
  }
  .ethos-div {
    display: grid;
    justify-items: center;
  }
  .ethos-p {
    font-size: var(--fs-md);
  }
  .about-img {
    margin: 0 0 30px 0;
  }
  .rev-examples {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .hero-head {
    font-size: var(--fs-5xl);
  }
  .info {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    height: fit-content;
  }
  .info-box h2 {
    font-size: var(--fs-5xl);
  }
  .collection-imgs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    justify-items: center;
  }
  .box-img {
    width: 90%;
  }

  .header-collect {
    font-size: var(--fs-3xl);
  }
  .collection-sing {
    height: 580px;
  }

  .ethos-p {
    font-size: 16px;
  }

  .ethos-txt h2 {
    font-size: var(--fs-4xl);
  }
  .rev-examples {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .rev-box {
    width: 100%;
  }

  .what-ts {
    padding: 100px 50px;
  }

  .wts-head h2 {
    font-size: var(--fs-4xl);
  }
}
