/* HERO BANNER */
.hero {
  position: relative;
  width: 100%;
  height: 85svh;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-image.active {
  opacity: 1;
}

.hero-head {
  font-size: var(--fs-6xl);
  color: var(--color-white);
}

.hero-txt {
  position: absolute;
  top: 60%;
  left: 3%;
  z-index: 2;
  color: var(--color-off-white);
}

.fine-print {
  color: var(--color-off-white);
  font-size: var(--fs-sm);
}

.slide-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  color: var(--color-white);
}

.slide-btn .count {
  width: 5rem;
}

.shop {
  display: inline-block;
  background-color: var(--color-white);
  font-weight: 600;
  color: var(--color-black);
  padding: 1.4rem 3.2rem;
  margin-top: 2rem;
  font-size: var(--fs-sm);
}

.prev,
.next {
  font-size: var(--fs-md);
  background-color: transparent;
  border: 0.7px solid var(--color-white);
  color: var(--color-white);
  padding: 0.8rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* MARQUEE */
.line {
  width: 100%;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-track {
  display: inline-flex;
  animation: scroll 20s linear infinite;
}

.marquee-track span {
  font-weight: bold;
  color: white;
  margin-right: 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}

/* COLLECTIONS */
.collection {
  padding: var(--section-padding);
}

.collection-imgs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.collection-head {
  margin-bottom: 30px;
}

.collection-head p {
  color: var(--color-muted);
}

.collection-sing {
  height: 45rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.collection-sing img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.header-collect {
  font-size: var(--fs-3xl);
  line-height: var(--fs-4xl);
}

.box-img {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.box-img a {
  display: block;
  color: inherit;
}

.box-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  transition: var(--transition);
}

.box-img-text {
  position: absolute;
  bottom: 20px;
  left: 15px;
  color: var(--color-white);
  z-index: 2;
}

.box-img-text h3 {
  font-size: var(--fs-lg);
}

.box-img-text p {
  font-size: var(--fs-sm);
  color: var(--color-off-white);
}

.collection-sing img {
  transition: transform 0.4s ease;
}

.box-img:hover .collection-sing img {
  transform: scale(1.05);
}

.box-img:hover::after {
  background: rgba(0, 0, 0, 0.5);
}

/* REVIEW */
.info-section {
  background-color: var(--color-black);
}

.info {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 3rem;
  padding: 6rem 0 8rem;
  color: var(--color-white);
}

.info-box {
  display: grid;
  justify-items: center;
}

.info-box h2 {
  font-size: var(--fs-5xl);
  display: flex;
  align-items: center;
}

.info-box p {
  color: var(--color-muted);
  font-size: var(--fs-sm);
}

/* ABOUT/ETHOS */
.ethos-section {
  padding: var(--section-padding);
  background-color: rgb(249, 249, 249);
}

.ethos-div {
  display: flex;
  align-items: center;
  gap: 2rem 6rem;
}

.about-img {
  flex: 1 1 50%;
  width: 100%;
  height: auto;
}

.about-img img {
  object-fit: cover;
  display: block;
}

.ethos-txt {
  flex: 1 1 50%;
}

.ethos-txt p {
  color: var(--color-muted);
}

.ethos-txt p:not(:first-child),
.ethos-txt h2 {
  margin-bottom: 2.4rem;
}

.ethos-txt h2,
.wts-head h2 {
  font-size: var(--fs-3xl);
  line-height: var(--fs-4xl);
}

/* TESTIMONIALS */
.what-ts {
  padding: var(--section-padding);
}

.wts-head {
  margin-bottom: 4rem;
}

.wts-head p {
  color: var(--color-muted);
}

.rev-examples {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.4rem;
}

.rev-box {
  border: 1px solid var(--color-gray);
  padding: 3rem;
  min-height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rev-stars {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 2rem;
}

.rev-txt {
  color: var(--color-muted);
  line-height: 1.7;
}

.author-rev {
  margin-top: 1.6rem;
}

@media (max-width: 1023px) {
  .collection-imgs,
  .info,
  .rev-examples {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .ethos-div {
    flex-direction: column;
  }

  .ethos-p {
    font-size: var(--fs-md);
  }

  .about-img {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 767px) {
  .hero-head {
    font-size: var(--fs-5xl);
  }
  .info {
    padding: 3rem 0 5rem;
  }

  .info,
  .collection-imgs,
  .rev-examples {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .info-box h2 {
    font-size: var(--fs-5xl);
  }

  .collection-imgs {
    justify-items: center;
  }

  .header-collect {
    font-size: var(--fs-3xl);
  }

  .ethos-p {
    font-size: 16px;
  }

  .ethos-txt h2 {
    font-size: var(--fs-4xl);
  }

  .rev-examples {
    width: 100%;
  }

  .rev-box {
    width: 100%;
  }

  .what-ts {
    padding: 100px 50px;
  }

  .wts-head h2 {
    font-size: var(--fs-4xl);
  }
}
