@import "./reset.css";

:root {
  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #f8f9fa;
  --color-text: #212529;
  --color-muted: #6c757d;

  /* Font Families */
  --heading-font: "Playfair Display", serif;
  --body-font: "Inter", sans-serif;

  /* Font Sizes */
  --fs-6xl: 72px;
  --fs-5xl: 60px;
  --fs-4xl: 48px;
  --fs-3xl: 40px;
  --fs-2xl: 32px;
  --fs-xl: 28px;
  --fs-lg: 24px;
  --fs-md: 20px;
  --fs-base: 16px;
  --fs-sm: 14px;

  /* Layout */
  --max-width: 1240px;
  --container-padding: 20px;
  --section-padding: 100px 0;

  /* UI */
  --transition: all 0.3s ease;
}

.container {
  max-width: min(100% - 30px, var(--max-width));
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p,
a,
li,
button,
span,
input,
textarea,
label,
select {
  font-family: var(--body-font);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-transform: uppercase;
}

.header-container,
.nav-links,
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  padding: 1.5rem 0;
}

.logo {
  gap: 0.8rem;
}

.logo h1 {
  color: var(--color-black);
  font-size: var(--fs-md);
  font-weight: 900;
}

.nav-links {
  gap: 2rem;
}

.nav-links a {
  font-size: var(--fs-sm);
  font-weight: 500;
  color: var(--color-muted);
  position: relative;
  transition: var(--transition);
}
