
.not {
    min-height: calc(100dvh - 100px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8rem;       
    text-align: center;
}

.page h2 {
    font-family: var(--heading-font);
    font-size: var(--fs-6xl);
    margin-bottom: 1rem;
}

.page p {
    margin-bottom: 1rem;
    color: var(--color-muted);
}

.page a {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: var(--color-black);
    color: var(--color-white);
    transition: var(--transition);
    text-decoration: none;
}

.page a:hover {
    background-color: var(--color-text);
}

/* Tablet */
@media (max-width: 1023px) {
  .not {
    padding-top: 6rem; 
  }
  
  .page h2 {
    font-size: 100px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .not {
    padding-top: 4rem; 
    padding-inline: 1rem;
  }

  .page h2 {
    font-size: 80px;
  }
}